@charset "ISO-8859-1";

.table-col{
	width:96.5vw;
	height:auto;
}

.table-col2{
	border:2px solid black;
}

table{
	font-family:arial, sans-serif;
	border:collapse;
	width:100%;
}
td, th{

	border: 1px solid #fcff8c;
	text-align:left;
	padding:8px;
}
	
tr:nth-child(even){
	background-color: #fdfbb0;
}
